html, body { 
  margin:0; 
  padding:0;
  overflow-x: hidden;
}

canvas { 
  display:block; 
  background: #d7d7d7;
}
    
  body {
    height: 1124px
  }
    
  #content {
		position:absolute;
		width:100%;
   /* overflow-x:hidden; */
	}
        
	.frame {
    width : 960px;
    margin: 0 auto;
      
	}
       
  .clear {
    clear:both
  }
    
	canvas {
		margin-top:80px;
		height: 320px;
		float:left;		
	}
	
  #info {
    background-color: white;
    height: 600px;
		clear:both;
  }
		
	#header-images {
    height:400px;
		width: 960px;
		float:left;
    margin-top: 16px;
    padding-left:162px;
	}
		
	#header-images img {
		width:620px;
	}
		
  h1 {
    font-family:'Exo-Bold';
    font-size: 48px;
		line-height:4px;
  }

  h2, h3 {
    font-family:'Exo-Bold';
  }

  #info h2 {
    background-color:#f6e93f;
    padding: 4px 0 4px 8px;
    margin-bottom:8px;
  }

  .feature1 {
    width: 460px;
    float:left;
  }
    
  .feature1 p, .feature2 p {
    padding:8px;
    margin-top:0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      
  }
  .feature2 {
    width: 460px;
    float:right;
  }

	.featurettes {
		clear:both;
		padding-top:20px;
	}
		
  .featurettes h3{
    font-family:'Exo-Bold';
    width:300px;
    padding-left: 20px;
    float:left; 
    text-align: center;
  }
    
  .button {
    height: 40px;
    background-color:#5dadf8;
    text-align:center;
    font-family:'Exo-Bold';
    text-decoration:none;
    color:white;
    line-height:42px;
  }
    
  #what_is_putio {
    float:right;
    width:160px;
    margin-right:0px;
  }
    
  #header-quotes {
    width: 320px;
    display:none;
  }
  
  #download {
    height: 40px;
    display:block;
    margin: 8px auto;
    width:360px;
  }
    
  .button:active {
    background-color: #331122;
  }
    
  #number_of_hours {
    clear:both;
    text-align:center;
    font-family:'Exo-Bold';
    font-size:28px;
    margin-bottom: 35px;
  }
  
  .meny {
        background-color:#5dadf8;
  }
  
  #putio_logo {
    float: left;
    width:160px;
  }
  
  #putio_info {
    padding-top:28px;
    margin-left:20px;
    width:480px;
    color: white;
    float:left;
  }
  
  #putio_subinfo {
    padding-top:32px;
    padding-left:48px;
    width:220px;
    color: white;
    float:left;
    text-align:center;
  }
  
  #putio_subinfo .button {
    background-color:white;
    color:#5DADF8;
    height 40px;
    display:block;
  }
  
  .meny-active {
    overflow:hidden;
  }
    
  #download_section {
    clear:both;
    cursor: pointer;
    height: 180px;
    background: #5dadf8 url('images/appbackground.png') no-repeat center right;
  }

  .button:hover {
    background-color: #4d6dff;
  }
            
  #icon {
    float:left;
    margin: 0 32px;
  }
            
  #download_info {
    width: 320px;
    float:left;
  }
            
  #download {
    background-color:white;
    color: #5dadf8;
    float:left;
    width:320px;
  }
            
  #download:active {
    background-color: #bbb;
  }
            
  #download a {
    text-decoration:none;
    color: #5dadf8 !important;
  }
            
  #download_info {
    padding-top:43px;
  }
            
  #download:before {
     content: "Available on App Store";
  }
            
  #download:hover {
    background-color:#eee;
  }
    
  @media screen and (max-device-width: 480px) {
    #header-quotes {
      display:block;
    }

    body{ 
      height: 1280px; 
    }
    
    body, html, #content {
      width : 480px;
    }
      
		.frame {
      width : 480px ;
		}
      
    .feature1 , .feature2 {
      width: 440px;
      float:left;
    }
    	
    #header-images img {
			width:320px;
		}
      
		#header-quotes {
			padding-top: 112px;
		}
		
		#header-images {
		  display:none;
    }
    
  	.featurettes {
  		padding-top:32px;
  	}
      
	  .featurettes h3{
      width:210px;
    }      
    
    #putio_logo {
      margin-left:20px;
    }
    
    #putio_info {
      font-size:16px;
      width: 240px;
      padding-top:34px;
    }
    
    #putio_subinfo {
      display:none;
    }
    
    #download:before {
      content: "Tap to Download" !important;
    }
  
    #download_section {
      background-image:none !important;
      background: #5dadf8;
      height: 360px !important;
      clear:both;
      margin-bottom: 32px;
    }
  
    #icon {
      padding-left: 140px;
    }
    
    #download_info {
      float:none;
      padding-left: 80px;
      padding-top: -20px;
    }
}

@media only screen and (device-width: 768px) {
  #content, .frame {
    width : 768px;
  }
  
  #header-quotes {
    margin-top:8px;
    padding-left:12px;
    margin-bottom:240px;
    padding-left:0;
  }
  
  #header-images {
    width:684px;
    padding-left: 83px;
  }
    
  #info {
    padding-top:20px;
  }
    
  .feature1, .feature2 {
    width: 364px;
  }
  
  .featurettes {
    margin-left:10px;
  }
  
  .featurettes  h3{
    width:230px;
  }
  
  #putio_logo {
    margin-left:20px;
  }
  
  #putio_info {
    font-size:18px;
    width: 320px;
    padding-top:34px;
  }
  
  #putio_subinfo {
    font-size:12px;
    width:120px;
    padding-left:64px;
    padding-top:42px;
  }
  
  #download:before {
    content: "Tap to Download" !important;
  }
  
  #download_section {
    background-image:none !important;
    background: #5dadf8;
  }
  
  #icon {
    padding-left: 120px;
  }
}